<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <title>Edit Tweet</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <main class="container">
        <h1>Edit Tweet</h1>
        <h2><%= message.content %></h2>
        <h2><%= message.date %></h2>
        <form action="/tweet/<%= message._id %>" method="post">
            <label for="content">Content</label>
            <input type="text" name="content" id="content" value="<%= message.content %>">
            <br>
            <label for="date">Date</label>
            <input type="date" name="date" id="date" value="<%= message.date %>">
            <button>Submit</button>
        </form>
    </main>
</body>
</html>